$color-primary: #2800D7;
$color-neutral: #FAFAFA;

* {
  font-family: BWHaas;
}

.appContainer {
  background-color: $color-neutral;
  height: 100%;
}

.header {
  width: 100%;
  background-color: $color-primary;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  color: #FFF;
}

.header > .container {
  padding: 2vh 0;
}

.title {
  margin-left: 3vw;
}
