$color-primary: #2800D7;
$color-neutral-light: #EAEAEA;
$color-neutral-dark: #FAFAFA;

$cardHeaderHeight: 66px;

* {
  font-family: BWHaas;
}

.appContainer {
  background-color: $color-neutral-dark;
  height: 100%;
}

.header {
  width: 100%;
  background-color: $color-primary;
  color: #FFF;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.header > .container {
  padding: 2vh 0;
}

.container.content {
  padding: 5vh 0;
  display: flex;
}

.card {
  height: 500px;
  width: 333px;
  background-color: #EEE;
  border-radius: 2px;
  overflow: hidden;
  margin: 0 1.33em;
}

.card > .header {
  padding: 2vh;
  height: $cardHeaderHeight;
  box-shadow: 0px 2px 5px 0 rgba(0,0,0,.26)
}

.filterContainer {
  color: black;
  padding: 2vh;
}

.card.filter {
  height: auto;
}
