.shadow-top-1 {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.16)
}
.shadow-bottom-1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)
}
.shadow-top-2 {
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.19)
}
.shadow-bottom-2 {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2)
}
.shadow-top-3 {
    box-shadow: 0 17px 50px 0 rgba(0,0,0,.19)
}
.shadow-bottom-3 {
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24)
}
.shadow-top-4 {
    box-shadow: 0 25px 55px 0 rgba(0,0,0,.21)
}
.shadow-bottom-4 {
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.22)
}
.shadow-top-5 {
    box-shadow: 0 40px 77px 0 rgba(0,0,0,.22)
}
.shadow-bottom-5 {
    box-shadow: 0 27px 24px 0 rgba(0,0,0,.2)
}
